
body {
  margin: 0;
  padding: 0;
  background: var(--background-color-0);
  font-family: Sans-Serif;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/*---- Variaveis ----*/
:root {
  /* Light Mode */
  --background-color-0: #111111;
  --background-color-1: #242424;
  
  --color-0: #00ff3f;
  
  --random-color-0: #ffc400;
  --random-color-1: #009fff;
  --random-color-2: #cc1616;
  
  --border-color-0: #cccccc;
  
  --font-color-0: #ffffff;
  --font-color-1: #b2b2b2;
  
  /*---- Dark mode ----*/
  --background-color-d-0: #181818;
  --background-color-d-1: #1e202b;
  
  scroll-behavior: smooth;
}

/*---- Desperte Sua Essência ----*/
.main {
  color: var(--font-color-0);
  margin: 0px;
}

/*---- Header ----*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 2px solid var(--background-color-1);
  height: 6em;
}

/* Header Left */
.header-left h1 {
  color: var(--color-0);
  font-size: 20px;
}

/* Header Right */
.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  font-size: 18px;
  padding-right: 15px;
  color: var(--font-color-0);
  transition: all 0.5s;
}

.header-right a:hover {
  color: var(--color-0);
  transform: scale(1.05);
}

.sidebar-list-content, .sidebar-list-settings {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidebar-list-content a, .sidebar-list-settings a {
  color: var(--font-color-0);
  font-size: 18px;
  padding-top: 5px;
}

.sidebar-content a {
  color: var(--font-color-0);
  font-size: 25px;
}

/*---- Content ----*/
.content {
  
}

.content-articles {
  margin: 30px;
}

/* content-articles */
.home_content-textbox-container {
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  gap: 14px;
}

.home_content-textbox-container strong {
  color: var(--color-0);
}

.home_content-textbox-container p {
  width: 60%;
  font-size: 20px;
}

/*Article Content*/
.article-section-title {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
}

/* Filter */
.articles-filter {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.articles-filter div {
  height: 35px;
  background: var(--background-color-1);
  border-radius: 2px;
  outline: none;
  box-decoration-break: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.articles-filter div i {
  font-size: 12px;
}

#search-filter {
  font-size: 10px;
  color: var(--font-color-1);
  outline: none;
  box-decoration-break: none;
  border: none;
  background: none;
}

select {
  height: 35px;
  width: 90px;
  background: var(--background-color-1);
  border: none;
  padding: 10px;
  font-size: 10px;
  color: var(--font-color-1);
  border-radius: 12px;
  outline: none;
  box-decoration-break: none;
  -webkit-appearance: none;
}

select option {
  font-size: 15px;
  background: var(--background-color-1);
  outline: none;
  box-decoration-break: none;
}

.home_content-articles-section {
  width: 100%;
  column-count: 3; /* Define o número de colunas */
  column-gap: 20px; /* Define o espaçamento entre as colunas */
  margin-top: 20px;
}

.article-box-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-conte;
  background: var(--background-color-1);
  border-radius: 13px;
  transition: all 0.5s;
  margin-bottom: 20px; /* Define o espaçamento entre os artigos */
  break-inside: avoid; /* Evita que um artigo seja dividido entre colunas */
}

.article-box-content:hover {
  scale: 0.95;
}

.article-img img {
  width: 100%;
  height: 22em;
  object-fit: cover;
}

.article-box-textbox {
  padding: 10px;
  color: var(--font-color-0);
}

.article-information {
  color: var(--color-0);
  height: 20px;
  font-size: 15px;
}

.article-title {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 13px;
}

.article-description {
  font-weight: 400;
  font-weight: 10px;
}

/*---- footer ----*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  color: var(--font-color-0);
}

.footer-social-medias a {
  font-size: 35px;
  color: var(--font-color-0);
  padding: 10px;
  transition: all 0.5s;
}

.footer-social-medias a:hover {
  color: var(--color-0);
}

.footer-website-options a{
  color: var(--font-color-0);
  padding: 10px;
  transition: all 0.5s;
  text-align: center;
}

.footer-website-options a:hover {
  color: var(--color-0);
}
/* Responsive Mobile */
@media screen and (max-width: 480px){
  header {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    height: 5em;
  }
  .header-left {
    display: flex;
  }
  .header-left h1 {
    font-size: 15px;
    letter-spacing: 0px;
  }
  .header-right {
    display: flex;
  }
  .header-right a {
    font-size: 15px;
  }
  
  .content-articles {
    margin: 25px;
  }
  .home_content-textbox-container {
    font-size: 22px;
    text-align: left;
    height: 18em;
  }
  .home_content-textbox-container h1 {
    font-size: 40px;
  }
  .home_content-textbox-container p {
    width: 90%;
    font-size: 17px;
    font-weight: 400;
  }
  
  .home_content-container-filter {
    display: none;
  }
  
  .article-section-title {
    margin-top: 10px;
    font-size: 15px;
  }
  
  .home_content-articles-section {
    column-count: 1;
  }
  .article-box-content {
    margin-top: 10px;
  }
  .article-img img {
    height: 14em;
  }
  .article-information {
    font-size: 15px;
  }
  .article-title {
    font-size: 15px;
    margin-top: 5px;
  }
  
  .footer-website-options a {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  .footer-textbox {
    text-align: center;
    font-size: 12px;
  }
}

/* Responsive Tablet */
@media screen and (max-width: 800px) and (min-width: 481px){
  header {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    height: 5em;
  }
  .header-left {
    display: flex;
  }
  .header-left h1 {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .header-right {
    display: flex;
  }
  .header-right a {
    font-size: 20px;
  }
  
  .content-articles {
    margin: 30px;
  }
  .home_content-textbox-container {
    font-size: 25px;
    text-align: left;
    height: 13em;
  }
  .home_content-textbox-container h1 {
    font-size: 50px;
  }
  .home_content-textbox-container p {
    width: 90%;
    font-size: 22px;
    font-weight: 400;
  }
  
  .home_content-container-filter {
    display: none;
  }
  
  .article-section-title {
    margin-top: 20px;
    font-size: 15px;
  }
  
  .home_content-articles-section {
    column-count: 1;
  }
  .article-box-content {
    margin-top: 20px;
  }
  .article-img img {
    height: 14em;
  }
  .article-information {
    font-size: 15px;
  }
  .article-title {
    font-size: 15px;
    margin-top: 5px;
  }
  
  .footer-website-options a {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  .footer-textbox {
    text-align: center;
    font-size: 12px;
  }
}
