body {
  margin: 0;
  padding: 0;
  background: var(--background-color-0);
  font-family: Sans-Serif;
  color: var(--font-color-0);
}
ul, ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/*---- Variaveis ----*/
:root {
  /* Light Mode */
  --background-color-0: #ffffff;
  --background-color-1: #e1ebff;
  
  --color-0: #00ff3f;
  
  --random-color-0: #ffc400;
  --random-color-1: #009fff;
  --random-color-2: #cc1616;
  
  --border-color-0: #cccccc;
  
  --font-color-0: #000000;
  --font-color-1: #2c2c2c;
  
  /*---- Dark mode ----*/
  --background-color-d-0: #181818;
  --background-color-d-1: #1e202b;
  
  scroll-behavior: smooth;
}

/*---- Desperte Sua Essência ----*/

/*---- Header ----*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 2px solid var(--border-color-0);
  height: 6em;
}

/* Header Left */
.header-left h1 {
  letter-spacing: 3px;
  color: var(--color-0);
}

/* Header Right */
.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  font-size: 20px;
  padding-right: 15px;
  color: var(--font-color-0);
  transition: all 0.5s;
}

.header-right a:hover {
  color: var(--color-0);
  scale: 1.1;
}

/* Main */
main {
  margin: 20px;
  height: max-content;
  font-size: 15px; 
  padding-top: 20px;
}

main h1 {
  font-size: 50px;
}

main h3{
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}

main p {
  font-size: 20px;
  margin-left: 30px;
}

main ul {
  margin-left: 45px;
  padding: 20px;
}

main ul li {
  font-size: 20px;
}

main p a {
  color: var(--color-0);
}

/*---- footer ----*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  color: var(--font-color-0);
}

.footer-social-medias a {
  font-size: 35px;
  color: var(--font-color-0);
  padding: 10px;
  transition: all 0.5s;
}

.footer-social-medias a:hover {
  color: var(--color-0);
}

.footer-website-options a{
  color: var(--font-color-0);
  padding: 10px;
  transition: all 0.5s;
  text-align: center;
}

.footer-website-options a:hover {
  color: var(--color-0);
}

/* Responsive Mobile */
@media screen and (max-width: 480px){
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-left h1 {
    font-size: 15px;
  }
  .header-right a {
    font-size: 15px;
    padding-right: 10px;
  }
  
  main {
    margin: 5px;
  }
  main h1 {
    font-size: 30px;
  }
  main h3 {
    font-size: 25px;
    margin-left: 10px;
  }
  main p {
    margin-left: 15px;
  }
  main ul {
    margin-left: 30px;
  }
  
  .footer-website-options a {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  .footer-textbox {
    text-align: center;
    font-size: 12px;
  }
}

/* Tablet */
@media screen and (max-width: 800px) and (min-width: 481px){
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-left h1 {
    font-size: 15px;
  }
  .header-right a {
    font-size: 15px;
    padding-right: 10px;
  }
  
  main {
    margin: 5px;
  }
  main h1 {
    font-size: 30px;
  }
  main h3 {
    font-size: 25px;
    margin-left: 10px;
  }
  main p {
    margin-left: 15px;
  }
  main ul {
    margin-left: 30px;
  }
  
  .footer-website-options a {
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  .footer-textbox {
    text-align: center;
    font-size: 12px;
  }
}
